<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1 v-if="isLogin">欢迎你，尊贵的v7用户</h1>
      <h1 v-else>你好，请登录</h1>



      <h3 v-if="age >= 18">去酒吧</h3>
      <h3 v-else-if="age >= 12">去网吧</h3>
      <h3 v-else>去幼儿园</h3>
    </div>

    <script src="vue.js"></script>
    <script>
      const vm = new Vue({
        el: '#app',
        data: {
          msg: 'hello vue',
          isLogin: true,
          age: 18
        }
      })
    </script>
  </body>
</html>