<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
   <div id="app">
     <!-- v-model="msg": 让input框和msg实现了双向数据绑定 -->
     <!-- v-model会忽略掉表单元素原本的value -->
     <input type="text" value="嘻嘻" v-model="msg">
     <hr>
      <p>{{desc}}</p>
     <textarea cols="30" rows="10" v-model="desc"></textarea>

     <hr>
     <p>{{city}}</p>
     <select v-model="city">
       <option value="1">北京</option>
       <option value="2">上海</option>
       <option value="3">广州</option>
       <option value="4">深圳</option>
     </select>


     <hr>
     <p>{{isCheck}}</p>
     <input type="checkbox" v-model="isCheck">
   </div>
  <script src="vue.js"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        msg: 'hello',
        desc: '帅',
        city: 3,
        isCheck: false
      }
    })
  </script>
</body>
</html>